@model PeaceHomeEstateManagement.Dto.AmenitiesResponseDto

@{
    ViewBag.Title = "Delete Amenity";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-danger text-white">
            <h4>Delete Amenity</h4>
        </div>
        <div class="card-body">
            <p class="lead text-center">Are you sure you want to delete this amenity?</p>

            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <dl class="row">
                        <dt class="col-sm-4">Name:</dt>
                        <dd class="col-sm-8">@Model.Name</dd>
                    </dl>
                </div>
            </div>

            <div class="text-center">
                <form asp-action="DeleteConfirmed" method="post">
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a asp-action="GetAllAmenities" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
